.box img{
    width: 10%;
    position: center;
}
.box{
    margin: 0 auto;
    border: 3px solid #000;
    width: 11%;
}
button{
    background-color: green;
    padding-left: 40%;
}
button{
    color: #fff;
    text-align: center;
    border-radius: 24px;
}
.v{
    color: #fff;
    background-color: aqua;
    margin: 0 auto;
    border: 3px solid #fff;
}
.v h1{
    text-align: center;
}
.v button{
    border-radius: 0%;
    background-color: #fff;
    color: gray;
}
.a h1{
    text-align: center;
    color: #fff;
}
.a h3{
    text-align: center;
    color: #fff;
}
.a{
    margin: 0 auto;
    border: 3px solid #000;
    background-color: #000;
}
.a button{
    background-color: yellow;
    color: #000;
    text-align: center;
    border-radius: 0%;
}
.b{
    margin: 0 auto;
    border: 3px solid #000;
    background-color: #000;
}
.b  h1{
    color: #fff;
}
.b button{
    background-color: yellow;
    color: #000;
    text-align: center;
    border-radius: 0%;
}
::selection{
    background-color: #000;
    color: yellow;
}